*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

.overflow {
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaNeueLTArabic-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueLTArabic-Light.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaRoman";
  src: url("../fonts/HelveticaNeueLTArabic-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTArabic-Roman.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaNeueLTArabic-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueLTArabic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body,
html {
  scroll-behavior: smooth;
  width: 100%;
  background-color: white;
  font-family: "HelveticaRoman", sans-serif;
  color: #1f1f1f;
  overflow-x: hidden;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 400;
}

p {
  margin: 0;
}

a {
  color: inherit;
  transition: all 0.5s;
}

a:hover {
  text-decoration: none;
  color: #caa959;
}

a:focus {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
}

.c2 {
  width: 1140px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1500px) {
  .c2 {
    padding: 0 40px;
  }
}

@media (max-width: 992px) {
  .c2 {
    padding: 0 15px;
  }
}

.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.dropdown a {
  color: black;
}

.dropdown .dropdown-content {
  position: absolute;
  min-width: 100%;
  width: max-content;
  top: 102%;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 0px #0000001f;
  padding: 5px 20px;
  border-radius: 10px;
}

.dropdown .dropdown-content a {
  font-size: 16px;
}

.dropdown:hover .dropdown-content {
  z-index: 15;
  opacity: 1;
  height: unset;
}

.slide {
  width: 100%;
  cursor: pointer;
}

.slide .drop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.slide .drop i {
  font-size: 11px;
  transition: all 0.5s;
}

.slide ul {
  margin-inline-start: 15px;
  text-align: start;
}

.slide-active .drop i {
  transform: rotate(180deg);
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: inset 0 0 10px #414141;
  background: #caa959;
}

.pre-loader {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.pre-loader .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-loader .content .lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.pre-loader .content .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.pre-loader .content .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #caa959;
  margin: -4px 0 0 -4px;
}

.pre-loader .content .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.pre-loader .content .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.pre-loader .content .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.pre-loader .content .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.pre-loader .content .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.pre-loader .content .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.pre-loader .content .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.pre-loader .content .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.pre-loader .content .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.pre-loader .content .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.pre-loader .content .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.pre-loader .content .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.pre-loader .content .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.pre-loader .content .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.pre-loader .content .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.pre-loader .content .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

.s-container {
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.s-container .swiper-button-prev,
.s-container .swiper-button-next {
  color: #b3b3b3;
  transition: all 0.5s;
  top: 50%;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #e8e8e8;
}

.s-container .swiper-button-prev:after,
.s-container .swiper-button-next:after {
  font-size: 10px;
  color: #1c1c1c;
}

.s-container .swiper-button-prev:hover,
.s-container .swiper-button-next:hover {
  background-color: #caa959;
}

.s-container .swiper-button-prev:hover:after,
.s-container .swiper-button-next:hover:after {
  color: white;
}

@media (max-width: 992px) {
  .s-container .swiper-button-prev,
  .s-container .swiper-button-next {
    display: none;
  }
}

.s-container .swiper-button-prev {
  right: -55px;
}

.s-container .swiper-button-next {
  left: -55px;
}

.s-container .swiper-pagination {
  position: static;
  margin-top: 30px;
  display: none;
}

@media (max-width: 1200px) {
  .s-container .swiper-pagination {
    display: block;
  }
}

.s-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  margin-bottom: 10px;
}

.s-container .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #caa959;
}

.s-container .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2.5px;
}

.s-head {
  margin-bottom: 35px;
  text-align: center;
}

@media (max-width: 576px) {
  .s-head {
    margin-bottom: 50px;
  }
}

.s-head h3 {
  font-size: 30px;
  margin: 0;
  color: #1f1f1f;
  font-family: HelveticaBold;
  position: relative;
}

@media (max-width: 576px) {
  .s-head h3 {
    font-size: 21px;
  }
}

.product .product-img {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #f7f7f7;
}

.product .product-img .p-img {
  transition: all 0.5s;
  max-width: 100%;
  transform: scale(1.02);
}

.product .product-img .p-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product .product-img .icons .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  z-index: 2;
}

@media (max-width: 576px) {
  .product .product-img .icons .icon {
    font-size: 11px;
  }
}

.product .product-img .icons .new {
  background-color: #74cd5c;
}

.product .product-img .icons .sale {
  background-color: #e13737;
}

.product .product-img .icons .ship {
  background-color: #ffa300;
}

.product .product-img:hover .p-img {
  transform: scale(1);
}

.product .product-disc {
  text-align: center;
}

.product .product-disc h5 {
  font-size: 15px;
  color: #1f1f1f;
  line-height: 1.375;
  margin-bottom: 10px;
}

.product .product-disc h5:hover a {
  color: #caa959;
}

@media (max-width: 576px) {
  .product .product-disc h5 {
    text-align: center;
  }
}

.product .product-disc .price {
  color: #1f1f1f;
  justify-content: center;
  margin-bottom: 5px;
}

.product .product-disc .price .price-now {
  font-size: 18px;
  font-family: HelveticaBold;
}

.product .product-disc .price .price-sale {
  text-decoration: line-through;
  color: gray;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
}

.product .product-disc .price span {
  margin: 0 1px;
}

@media (max-width: 576px) {
  .product .product-disc .price {
    flex-direction: column;
  }
  .product .product-disc .price .price-sale {
    margin-top: 7px;
  }
}

nav {
  margin-bottom: 10px;
}

nav .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  nav .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  nav .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  nav .container {
    width: 1600px;
  }
}

nav .row {
  margin: 0;
}

nav .row > div {
  padding: 0;
}

nav .fa-sort-down:before {
  font-size: 11px;
}

nav .top-settings {
  display: flex;
  align-items: center;
}

nav .top-setting {
  position: relative;
}

nav .top-setting .setting-anchor {
  font-size: 14px;
  color: #7a8186;
  line-height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav .top-setting .setting-anchor::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
  font-size: 11px;
  margin-right: 5px;
}

nav .top-setting .top-dropDown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  min-width: 120px;
  padding: 8px 9px 9px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  text-align: center;
}

nav .top-setting .drop-link {
  white-space: nowrap;
  border-bottom: 1px solid #ededf0;
  padding: 0 4px 6px;
  margin-bottom: 4px;
  font-size: 14px;
  display: block;
  color: #1f1f1f;
  transition: all 0.3s ease-in-out;
}

nav .top-setting .drop-link:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

nav .top-setting .drop-link:hover {
  color: #caa959;
}

nav .top-setting:hover .setting-anchor {
  color: #b4b4b4;
}

nav .top-setting:hover > .top-dropDown {
  visibility: visible;
  opacity: 1;
}

nav .nav-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.102);
  color: #929292;
}

nav .nav-top .c2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-top .top-head {
  padding: 7px;
}

nav .nav-top .top-head img {
  max-width: 31px;
}

nav .nav-top .top-head p {
  margin-inline-start: 10px;
  font-size: 14px;
  font-family: HelveticaBold;
}

nav .nav-top .top-body .social a {
  font-size: 17px;
  margin: 0 11px;
  transition: all 0.3s;
  color: inherit;
}

nav .nav-top .top-body .social a:hover {
  color: #1f1f1f;
}

nav .nav-top .top-body .nav-lang {
  height: 50px;
  width: 50px;
  background-color: #ebebeb;
  font-size: 14px;
  margin-inline-start: 10px;
}

nav .nav-top .top-body .nav-lang a {
  height: 100%;
  width: 100%;
  font-family: HelveticaBold;
}

nav .nav-top .top-body .nav-lang:hover {
  background-color: #caa959;
}

nav .nav-top .top-body .nav-lang:hover a {
  color: white;
}

@media (max-width: 1200px) {
  nav .nav-top {
    display: none;
  }
}

nav .nav-bottom {
  padding: 25px 0;
}

nav .nav-bottom .c2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bottom .nav-logo {
  text-align: start;
}

nav .nav-bottom .nav-logo img {
  max-width: 100%;
}

@media (max-width: 576px) {
  nav .nav-bottom .nav-logo {
    margin-inline-end: 15px;
  }
}

nav .nav-bottom .search {
  margin-inline-end: auto;
  margin-inline-start: 40px;
}

nav .nav-bottom .search .search-content {
  position: relative;
  width: 497px;
}

nav .nav-bottom .search .search-content form {
  width: 100%;
}

nav .nav-bottom .search .search-content input {
  width: 100%;
  height: 54px;
  font-size: 16px;
  background-color: #f7f7f7;
  opacity: 0.47;
  border-radius: 50px;
  border: 1px solid #bfbfbf;
  padding: 0 25px;
  color: #929292;
  outline: none;
}

nav .nav-bottom .search .search-content .search-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #1f1f1f;
}

nav .nav-bottom .search .search-content .search-btn:hover {
  background-color: #caa959;
}

@media (max-width: 1200px) {
  nav .nav-bottom .search {
    display: none;
  }
}

nav .nav-bottom .call .call-head {
  font-size: 30px;
  transform: rotate(268deg);
}

nav .nav-bottom .call .call-body {
  margin-inline-start: 20px;
}

nav .nav-bottom .call .call-body h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

nav .nav-bottom .call .call-body h4 {
  font-size: 18px;
  font-family: HelveticaBold;
}

@media (max-width: 1200px) {
  nav .nav-bottom .call {
    display: none;
  }
}

nav .nav-bottom .nav-icons-sm {
  justify-content: flex-end;
  align-items: center;
  display: none;
}

nav .nav-bottom .nav-icons-sm > div {
  margin-right: 20px;
  font-size: 22px;
  color: #1f1f1f;
  cursor: pointer;
}

nav .nav-bottom .nav-icons-sm > div:hover {
  color: #caa959;
}

@media (max-width: 1200px) {
  nav .nav-bottom .nav-icons-sm {
    display: flex;
    margin-inline-start: auto;
  }
}

nav .nav-bottom .nav-icons-sm .cart {
  font-family: HelveticaBold;
}

nav .nav-bottom .nav-icons-sm .cart .cart-btn {
  font-size: 22px;
  position: relative;
  transition: all 0.5s;
}

nav .nav-bottom .nav-icons-sm .cart .cart-btn .count {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #1f1f1f;
  color: white;
  font-size: 12px;
  position: absolute;
  top: -6px;
  right: -8px;
}

nav .nav-bottom .nav-icons-sm .cart .cart-btn:hover .count {
  animation: vibe 0.7s ease forwards;
}

nav .nav-bottom .nav-icons-sm .user .setting-anchor {
  font-size: 22px;
  color: #1f1f1f;
}

nav .nav-bottom .nav-icons-sm .user .setting-anchor:after {
  display: none;
}

nav .nav-bottom .nav-icons-sm .user:hover .setting-anchor {
  color: #caa959;
}

nav .sm-menu {
  background-color: #1f1f1f;
  color: white;
  font-size: 17px;
  height: 55px;
  width: 100%;
  justify-content: flex-start;
  display: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  nav .sm-menu {
    display: flex;
  }
}

nav .sm-menu .menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

nav .sm-menu .menu span {
  margin-inline-end: 10px;
  font-size: 22px;
}

nav .nava-container {
  background-color: #caa959;
}

nav .nava {
  transition: all 0.5s;
}

nav .nava .nava-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nava .nava-content > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: HelveticaBold;
  font-weight: 500;
}

nav .nava .nava-content > ul li {
  margin: 0 10px;
}

nav .nava .nava-content > ul li a {
  color: #1f1f1f;
  transition: all 0.5s;
  font-family: HelveticaBold;
  font-size: 17px;
  text-transform: capitalize;
}

nav .nava .nava-content > ul li a:hover {
  color: white;
}

nav .nava .nava-content > ul .cat {
  position: static;
  margin-inline-start: 0;
  margin-inline-end: 25px;
}

nav .nava .nava-content > ul .cat > .setting-anchor {
  min-width: 275px;
  height: 50px;
  background-color: #1f1f1f;
  color: white;
  transition: all 0.5s;
  font-weight: 500;
  font-family: HelveticaBold;
  font-size: 17px;
  text-transform: capitalize;
  padding: 0 20px;
}

nav .nava .nava-content > ul .cat > .setting-anchor:after {
  display: none;
}

nav .nava .nava-content > ul .cat > .setting-anchor .lnr-chevron-down {
  margin-inline-start: auto;
  font-size: 14px;
}

nav .nava .nava-content > ul .cat > .setting-anchor .lnr-menu {
  margin-inline-end: 10px;
  font-size: 22px;
}

nav .nava .nava-content > ul .cat > .top-dropDown {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 0;
  z-index: 12;
}

nav .nava .nava-content > ul .cat > .top-dropDown > .c2 > ul {
  min-width: 275px;
  padding: 20px;
  background-color: white;
  width: fit-content;
  text-align: start;
}

nav .nava .nava-content > ul .cat > .top-dropDown > .c2 > ul > li .setting-anchor {
  color: #1f1f1f;
  border-bottom: 1px solid rgba(0, 0, 0, 0.102);
  font-size: 18px;
  font-family: HelveticaRoman;
}

nav .nava .nava-content > ul .cat > .top-dropDown > .c2 > ul > li .setting-anchor:after {
  display: none;
}

nav .nava .nava-content > ul .cat > .top-dropDown > .c2 > ul > li .setting-anchor .lnr-chevron-down {
  margin-inline-start: auto;
  transform: rotate(90deg);
  transition: all 0.5s;
  font-size: 10px;
  color: #cfcfcf;
}

nav .nava .nava-content > ul .cat > .top-dropDown > .c2 > ul > li .setting-anchor:hover {
  color: #caa959;
}

nav .nava .nava-content > ul .cat > .top-dropDown > .c2 > ul > li:nth-last-of-type(1) .setting-anchor {
  border-bottom: none;
}

nav .nava .nava-content > ul .cat > .top-dropDown > .c2 > ul > li .top-dropDown {
  top: 0;
  left: -42%;
}

nav .nava .nava-content > ul .cat > .top-dropDown > .c2 > ul > li .top-dropDown a:hover {
  color: #caa959;
}

nav .nava .nava-content > ul .slide .drop {
  font-size: 18px;
  font-weight: 500;
  color: #1f1f1f;
}

nav .nava .nava-content > ul .slide .drop .lnr-chevron-down {
  transition: all 0.5s;
}

nav .nava .nava-content > ul .slide .drop span {
  font-size: 16px;
  color: #353535;
}

nav .nava .nava-content > ul .slide .drop:hover {
  color: #caa959;
}

nav .nava .nava-content > ul .sm-link {
  display: none;
}

@media (max-width: 1200px) {
  nav .nava .nava-content > ul .sm-link {
    display: block;
  }
}

nav .nava .nava-content > ul .active a {
  color: #caa959;
}

nav .nava .nava-content .nava-head {
  display: none;
}

nav .nava .nava-content .nava-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1200px) {
  nav .nava .nava-content .nava-icons {
    display: none;
  }
}

nav .nava .nava-content .nava-icons .user {
  height: 50px;
  width: 50px;
  background-color: #1f1f1f;
  margin-inline-end: 25px;
  cursor: pointer;
}

nav .nava .nava-content .nava-icons .user .setting-anchor {
  color: white;
  font-size: 22px;
}

nav .nava .nava-content .nava-icons .user .setting-anchor:after {
  display: none;
}

nav .nava .nava-content .nava-icons .user:hover .setting-anchor {
  color: #caa959;
}

nav .nava .nava-content .nava-icons .cart {
  font-family: HelveticaBold;
  cursor: pointer;
}

nav .nava .nava-content .nava-icons .cart .cart-btn {
  font-size: 24px;
  position: relative;
  transition: all 0.5s;
}

nav .nava .nava-content .nava-icons .cart .cart-btn .count {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #1f1f1f;
  color: white;
  font-size: 12px;
  position: absolute;
  top: -6px;
  right: -8px;
}

nav .nava .nava-content .nava-icons .cart:hover .count {
  animation: vibe 0.7s ease forwards;
}

nav .nava .nava-content .nava-icons .cart p {
  font-family: HelveticaBold;
  margin-inline-start: 5px;
  margin-top: -5px;
}

nav .nava .nava-content .nava-call {
  display: none;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
}

nav .nava .nava-content .nava-call .call-head {
  font-size: 30px;
  transform: rotate(268deg);
}

nav .nava .nava-content .nava-call .call-body {
  margin-top: 10px;
}

nav .nava .nava-content .nava-call .call-body h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

nav .nava .nava-content .nava-call .call-body h4 {
  font-size: 18px;
  font-family: HelveticaBold;
}

@media (max-width: 1200px) {
  nav .nava .nava-content .nava-call {
    display: flex;
  }
}

@media (max-width: 1200px) {
  nav .nava {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 0;
    width: 100%;
    z-index: -5;
    opacity: 0;
    transition: all 0.5s;
  }
}

@media (max-width: 1200px) {
  nav .nava .nava-content {
    position: absolute;
    top: 0;
    right: -150%;
    background-color: white;
    height: 100vh;
    width: 60%;
    transition: all 0.5s;
    flex-direction: column;
    text-align: right;
    padding: 0 30px;
    padding-top: 30px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  nav .nava .nava-content > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    width: 100%;
  }
  nav .nava .nava-content > ul li {
    margin: 10px 0;
    order: 2;
  }
  nav .nava .nava-content > ul li a {
    font-size: 18px;
  }
  nav .nava .nava-content > ul li a:hover {
    color: #caa959;
  }
  nav .nava .nava-content > ul .home {
    order: 1;
  }
  nav .nava .nava-content > ul .cat > .setting-anchor {
    background-color: unset;
    color: unset;
    height: unset;
    padding: unset;
    min-width: unset;
    width: 100%;
  }
  nav .nava .nava-content > ul .cat > .setting-anchor .lnr-menu {
    display: none;
  }
  nav .nava .nava-content > ul .cat > .top-dropDown {
    background-color: unset;
  }
  nav .nava .nava-content > ul .cat > .top-dropDown .c2 ul {
    padding: 15px 0;
    min-width: unset;
    width: 100%;
  }
  nav .nava .nava-content > ul .cat > .top-dropDown .c2 ul > li > .setting-anchor {
    border: none;
  }
  nav .nava .nava-content > ul .cat > .top-dropDown .c2 ul .in-menu .top-dropDown {
    display: flex;
    flex-direction: column;
    margin: 7px 20px;
  }
  nav .nava .nava-content > ul .cat > .top-dropDown .c2 ul .in-menu .top-dropDown a {
    margin: 5px 0;
    color: #1f1f1f;
    font-family: HelveticaRoman;
  }
  nav .nava .nava-content > ul .cat > .top-dropDown .c2 ul .in-menu .top-dropDown a:hover {
    color: #caa959;
  }
  nav .nava .nava-content > ul .slide-active .lnr-chevron-down {
    transform: rotate(180deg);
  }
  nav .nava .nava-content .nava-head {
    width: 100%;
    display: flex;
    margin: 9px 0;
    font-size: 17px;
    position: relative;
  }
  nav .nava .nava-content .nava-head a {
    color: grey;
  }
  nav .nava .nava-content .nava-head .top-settings .top-setting {
    margin-inline-end: 20px;
  }
  nav .nava .nava-content .nava-head .top-settings .top-setting:nth-last-of-type(1) {
    margin-inline-end: 0;
  }
  nav .nava .nava-content .nava-head .nava-close {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
    color: #bdbdbd;
  }
}

@media (max-width: 576px) {
  nav .nava .nava-content {
    width: 85%;
  }
  nav .nava .nava-content .nava-head {
    font-size: 16px;
  }
  nav .nava .nava-content .nava-head .nava-close {
    font-size: 20px;
  }
  nav .nava .nava-content li {
    margin: 9px 0;
  }
  nav .nava .nava-content li a {
    font-size: 16px;
  }
}

nav .nava-active {
  opacity: 1;
  z-index: 999;
  height: 100vh;
}

nav .nava-active .nava-content {
  right: 0;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
}

.up {
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
  position: fixed;
  right: 45px;
  bottom: 75px;
  z-index: 999;
  border-radius: 100%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.up:hover {
  background-color: #caa959;
}

.active-up {
  visibility: visible;
  opacity: 1;
}

.search-form {
  height: 0%;
  width: 0%;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -500;
  overflow: hidden;
  transition: all 0.5s;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}

@media (max-width: 768px) {
  .search-form {
    font-size: 18px;
  }
}

.search-form .close-search {
  font-size: 20px;
  margin-bottom: 125px;
  margin-top: 70px;
  cursor: pointer;
  color: #1f1f1f;
}

@media (max-width: 576px) {
  .search-form .close-search {
    margin-bottom: 130px;
    margin-top: 50px;
  }
}

.search-form .search {
  width: 497px;
  height: 54px;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.search-form .search form {
  height: 100%;
}

.search-form .search input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 4;
  outline: none;
  border: 1px solid #bfbfbf;
  padding: 0 25px;
  font-size: 16px;
  background-color: #f7f7f7;
  opacity: 0.47;
  color: #929292;
}

@media (max-width: 576px) {
  .search-form .search input {
    padding: 0 15px;
  }
}

.search-form .search input:-webkit-autofill, .search-form .search input:-webkit-autofill:hover, .search-form .search input:-webkit-autofill:focus {
  background-color: transparent;
}

.search-form .search .searching {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  transition: all 0.5s;
  color: white;
  background-color: #1f1f1f;
}

.search-form .search .searching:hover {
  background-color: #caa959;
}

.search-form-active {
  opacity: 1 !important;
  z-index: 2000 !important;
  height: 100% !important;
  width: 100% !important;
}

header .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  header .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  header .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  header .container {
    width: 1920px;
  }
}

header .row {
  margin: 0;
}

header .row > div {
  padding: 0;
}

header .swiper-container {
  width: 100%;
  height: auto;
}

header .swiper-container .swiper-pagination {
  bottom: 15px;
  display: none;
}

@media (max-width: 768px) {
  header .swiper-container .swiper-pagination {
    display: block;
  }
}

header .swiper-container .swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  header .swiper-container .swiper-pagination-bullet {
    width: 12px;
    height: 3px;
  }
}

header .swiper-container .swiper-pagination-bullet-active {
  opacity: 0.6;
  background-color: #caa959;
}

header .swiper-container .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2.5px;
}

header .swiper-container .swiper-button-prev,
header .swiper-container .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  top: 50%;
}

@media (max-width: 768px) {
  header .swiper-container .swiper-button-prev,
  header .swiper-container .swiper-button-next {
    display: none;
    height: 25px;
    width: 25px;
  }
}

header .swiper-container .swiper-button-prev:after,
header .swiper-container .swiper-button-next:after {
  color: white;
  font-size: 10px;
}

header .swiper-container .swiper-button-prev:hover,
header .swiper-container .swiper-button-next:hover {
  background-color: #caa959;
}

header .swiper-container .swiper-button-prev {
  right: 20px;
}

header .swiper-container .swiper-button-next {
  left: 20px;
}

header .swiper-container .swiper-slide img {
  width: 100%;
  height: auto;
  transition: all 0.5s;
}

#banners {
  margin-top: 50px;
  margin-bottom: 140px;
}

@media (max-width: 768px) {
  #banners {
    margin-top: 25px;
    margin-bottom: 40px;
  }
}

#banners .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #banners .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #banners .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #banners .container {
    width: 1920px;
  }
}

#banners .row {
  margin: 0;
}

#banners .row > div {
  padding: 0;
}

#banners .banners-swiper-container {
  width: 100%;
  overflow: hidden;
}

#banners .banners-swiper-container .swiper-button-prev,
#banners .banners-swiper-container .swiper-button-next {
  color: #b3b3b3;
  transition: all 0.5s;
  top: 50%;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #e8e8e8;
}

#banners .banners-swiper-container .swiper-button-prev:after,
#banners .banners-swiper-container .swiper-button-next:after {
  font-size: 10px;
  color: #1c1c1c;
}

#banners .banners-swiper-container .swiper-button-prev:hover,
#banners .banners-swiper-container .swiper-button-next:hover {
  background-color: #caa959;
}

#banners .banners-swiper-container .swiper-button-prev:hover:after,
#banners .banners-swiper-container .swiper-button-next:hover:after {
  color: white;
}

@media (max-width: 1200px) {
  #banners .banners-swiper-container .swiper-button-prev,
  #banners .banners-swiper-container .swiper-button-next {
    display: none;
  }
}

#banners .banners-swiper-container .swiper-button-prev {
  right: -55px;
}

#banners .banners-swiper-container .swiper-button-next {
  left: -55px;
}

#banners .banners-swiper-container .swiper-pagination {
  position: static;
  margin-top: 30px;
  display: none;
}

@media (max-width: 1200px) {
  #banners .banners-swiper-container .swiper-pagination {
    display: block;
  }
}

#banners .banners-swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  margin-bottom: 10px;
}

#banners .banners-swiper-container .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #caa959;
}

#banners .banners-swiper-container .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2.5px;
}

#banners .banners-content {
  position: relative;
}

#banners .banners-content .banner {
  text-align: center;
  margin-bottom: 10px;
}

#banners .banners-content .banner .banner-img {
  max-width: 330px;
  margin-bottom: 25px;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 100%;
  border: 2px solid transparent;
}

#banners .banners-content .banner .banner-img img {
  width: 100%;
  border-radius: 100%;
  mix-blend-mode: darken;
  transition: all 0.5s;
}

#banners .banners-content .banner .banner-img:hover {
  border: 2px solid #c6a454;
}

#banners .banners-content .banner h3 {
  font-size: 18px;
  margin-top: 20px;
}

@media (max-width: 576px) {
  #banners .banners-content .banner h3 {
    font-size: 17px;
  }
}

#special .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #special .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #special .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #special .container {
    width: 1920px;
  }
}

#special .row {
  margin: 0;
}

#special .row > div {
  padding: 0;
}

#special .special-body {
  margin-bottom: 50px;
}

#banner2 {
  margin-top: 25px;
  margin-bottom: 65px;
}

@media (max-width: 576px) {
  #banner2 {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

#banner2 .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #banner2 .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #banner2 .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #banner2 .container {
    width: 1600px;
  }
}

#banner2 .row {
  margin: 0;
}

#banner2 .row > div {
  padding: 0;
}

#banner2 .banner-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

#banner2 .banner-content .banner {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#banner2 .banner-content .banner img {
  width: 100%;
  transition: all 0.5s;
  transform: scale(1);
}

#banner2 .banner-content .banner::before {
  position: absolute;
  top: 0;
  left: -105%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  cursor: pointer;
}

#banner2 .banner-content .banner:hover::before {
  animation: shine 0.7s ease forwards;
}

#banner2 .banner-content .banner:hover img {
  transform: scale(1.02);
}

#best-seller .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #best-seller .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #best-seller .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #best-seller .container {
    width: 1920px;
  }
}

#best-seller .row {
  margin: 0;
}

#best-seller .row > div {
  padding: 0;
}

#best-seller .best-seller-body {
  margin-bottom: 50px;
}

#banner3 {
  margin-top: 25px;
  margin-bottom: 75px;
}

@media (max-width: 576px) {
  #banner3 {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

#banner3 .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #banner3 .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #banner3 .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #banner3 .container {
    width: 1600px;
  }
}

#banner3 .row {
  margin: 0;
}

#banner3 .row > div {
  padding: 0;
}

#banner3 .banner-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

#banner3 .banner-content .banner {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#banner3 .banner-content .banner img {
  width: 100%;
  transition: all 0.5s;
  transform: scale(1);
}

#banner3 .banner-content .banner::before {
  position: absolute;
  top: 0;
  left: -105%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  cursor: pointer;
}

#banner3 .banner-content .banner:hover::before {
  animation: shine 0.7s ease forwards;
}

#banner3 .banner-content .banner:hover img {
  transform: scale(1.02);
}

#like .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #like .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #like .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #like .container {
    width: 1920px;
  }
}

#like .row {
  margin: 0;
}

#like .row > div {
  padding: 0;
}

#like .like-body {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#like .like-body .product {
  width: 23%;
  margin-bottom: 55px;
}

@media (max-width: 768px) {
  #like .like-body {
    margin-bottom: 10px;
  }
  #like .like-body .product {
    width: 48%;
  }
}

#notes {
  padding: 40px 0;
  background-color: #caa959;
}

@media (max-width: 576px) {
  #notes {
    padding: 25px;
  }
}

#notes .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  #notes .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #notes .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #notes .container {
    width: 1400px;
  }
}

#notes .row {
  margin: 0;
}

#notes .row > div {
  padding: 0;
}

#notes .notes-swiper-container {
  width: 100%;
  overflow: hidden;
}

#notes .notes-swiper-container .swiper-pagination {
  position: static;
  margin-top: 30px;
  display: none;
}

@media (max-width: 1200px) {
  #notes .notes-swiper-container .swiper-pagination {
    display: block;
  }
}

#notes .notes-swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  margin-bottom: 10px;
}

#notes .notes-swiper-container .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: white;
}

#notes .notes-swiper-container .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2.5px;
}

#notes .notes-slider {
  position: relative;
}

#notes .note {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  #notes .note {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
}

#notes .note .note-icon {
  margin-inline-end: 15px;
  height: fit-content;
}

@media (max-width: 1200px) {
  #notes .note .note-icon {
    margin-inline-end: 0;
    margin-bottom: 15px;
  }
}

#notes .note .note-body h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: HelveticaBold;
}

#notes .note .note-body p {
  font-size: 16px;
  margin: 0;
}

@media (max-width: 1200px) {
  #notes .note .note-body {
    text-align: center;
  }
}

footer {
  padding-top: 85px;
  padding-bottom: 30px;
  background-color: #1f1f1f;
}

@media (max-width: 576px) {
  footer {
    padding-top: 50px;
  }
}

footer .container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  footer .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  footer .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  footer .container {
    width: 1400px;
  }
}

footer .row {
  margin: 0;
}

footer .row > div {
  padding: 0;
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

@media (max-width: 992px) {
  footer .footer-top {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
}

footer .footer-top .footer-logo {
  max-width: 320px;
}

footer .footer-top .footer-logo img {
  margin-top: -30px;
  max-width: 100%;
  margin-bottom: 20px;
}

footer .footer-top .footer-logo p {
  font-size: 15px;
  color: #8a8a8a;
  line-height: 1.7;
}

@media (max-width: 992px) {
  footer .footer-top .footer-logo {
    margin-bottom: 30px;
  }
  footer .footer-top .footer-logo img {
    margin: 0;
    margin-bottom: 20px;
  }
}

footer .footer-top .head h4 {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: HelveticaBold;
  font-size: 17px;
  color: white;
}

footer .footer-top .head h4 span {
  font-size: 14px;
  transition: all 0.5s;
  display: none;
}

@media (max-width: 992px) {
  footer .footer-top .head h4 span {
    display: inline;
  }
}

footer .footer-top li {
  margin-bottom: 10px;
  transition: all 0.5s;
}

footer .footer-top li a {
  font-size: 15px;
  transition: all 0.3s;
  color: #8a8a8a;
  text-transform: capitalize;
}

footer .footer-top li:hover {
  transform: translateX(-5px);
}

footer .footer-top li:hover a {
  color: #caa959;
}

footer .footer-top .footer-list {
  transition: all 0.5s;
}

@media (max-width: 992px) {
  footer .footer-top .footer-list {
    width: 100%;
  }
  footer .footer-top .footer-list .head h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .footer-top .footer-list ul {
    text-align: start;
  }
}

footer .footer-top .footer-list-active {
  margin-bottom: 20px;
}

footer .footer-top .footer-list-active .head h4 span {
  transform: rotate(180deg);
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  footer .footer-bottom {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

footer .footer-bottom .head {
  text-align: center;
}

footer .footer-bottom .head h4 {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: HelveticaBold;
  font-size: 16px;
  color: white;
}

footer .footer-bottom .mail {
  width: 355px;
  max-width: 100%;
  text-align: center;
}

footer .footer-bottom .mail .form-group {
  position: relative;
}

footer .footer-bottom .mail .form-group a {
  color: #1f1f1f;
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translate(-50%, -50%);
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
}

footer .footer-bottom .mail .form-group a:hover {
  color: #caa959;
}

footer .footer-bottom .mail .form-group input {
  border-radius: 50px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  width: 100%;
  height: 45px;
  padding-inline-start: 34px;
  line-height: 4;
}

footer .footer-bottom .mail .form-group input::placeholder {
  font-size: 14px;
  color: #bbbbbb;
}

footer .footer-bottom .social-menu .social {
  margin-top: 20px;
}

footer .footer-bottom .social-menu .social a {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #383838;
  font-size: 18px;
  margin: 0 3px;
  transition: all 0.3s;
  color: white;
}

footer .footer-bottom .social-menu .social a:hover {
  background-color: #caa959;
  color: black;
}

@media (max-width: 992px) {
  footer .footer-bottom .social-menu .head {
    display: none;
  }
}

@media (max-width: 992px) {
  footer .footer-bottom .payment {
    margin-top: 30px;
  }
  footer .footer-bottom .payment .head {
    display: none;
  }
}

footer .credit {
  background-color: #1f1f1f;
  width: 100%;
}

footer .credit .c2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .credit .c2 p {
  margin: 0;
  color: #8a8a8a;
  font-size: 14px;
}

footer .credit .c2 p:nth-last-of-type(1) {
  text-align: end;
}

footer .credit .c2 .fa-heart {
  color: #d13030;
}

@media (max-width: 992px) {
  footer .credit .c2 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  footer .credit .c2 p {
    width: 100%;
  }
  footer .credit .c2 p:nth-last-of-type(1) {
    text-align: center;
  }
  footer .credit .c2 p:nth-of-type(1) {
    margin: 10px 0;
    margin-top: 30px;
  }
}

html[dir="ltr"] .s-container .swiper-button-prev {
  right: unset;
  left: -55px;
}

@media (max-width: 1400px) {
  html[dir="ltr"] .s-container .swiper-button-prev {
    right: unset;
    left: -35px;
  }
}

html[dir="ltr"] .s-container .swiper-button-next {
  left: unset;
  right: -55px;
}

@media (max-width: 1400px) {
  html[dir="ltr"] .s-container .swiper-button-next {
    left: unset;
    right: -35px;
  }
}

html[dir="ltr"] nav .top-setting .setting-anchor::after {
  margin-right: unset;
  margin-left: 5px;
}

html[dir="ltr"] nav .nav-bottom .nava-active .nava-content {
  right: unset;
  left: 0;
}

html[dir="ltr"] nav .nav-bottom .call .call-head {
  transform: unset;
}

html[dir="ltr"] nav .nav-bottom .search .search-content .search-btn {
  left: unset;
  right: -10px;
}

html[dir="ltr"] nav .nav-bottom .nav-icons > div {
  margin-right: unset;
  margin-left: 20px;
}

html[dir="ltr"] nav .nav-bottom .nav-icons > div i {
  margin-right: 5px;
  margin-left: unset;
}

@media (max-width: 992px) {
  html[dir="ltr"] nav .nav-bottom .nav-icons .cart {
    margin-right: unset;
    margin-left: 20px;
  }
  html[dir="ltr"] nav .nav-bottom .nav-icons .cart i {
    margin: 0;
  }
}

html[dir="ltr"] nav .nav-bottom .nav-icons-sm > div {
  margin-right: unset;
  margin-left: 20px;
}

html[dir="ltr"] nav .nava .nava-content > ul .cat > .top-dropDown > .c2 > ul > li .setting-anchor .lnr-chevron-down {
  transform: rotate(-90deg);
}

html[dir="ltr"] nav .nava .nava-content > ul .cat > .top-dropDown > .c2 > ul > li .top-dropDown {
  left: 140%;
}

html[dir="ltr"] nav .nava .nava-content .nava-call .call-head {
  transform: unset;
}

@media (max-width: 1200px) {
  html[dir="ltr"] nav .nava .nava-content {
    right: unset;
    left: -150%;
  }
  html[dir="ltr"] nav .nava .nava-content .nava-head .nava-close {
    left: unset;
    right: 7px;
  }
}

html[dir="ltr"] nav .nava-active .nava-content {
  right: unset;
  left: 0;
}

html[dir="ltr"] .search-form .searching {
  left: unset;
  right: -10px;
}

html[dir="ltr"] header .swiper-container .swiper-button-prev {
  right: unset;
  left: 22px;
}

html[dir="ltr"] header .swiper-container .swiper-button-next {
  left: unset;
  right: 22px;
}

html[dir="ltr"] #banners .banners-swiper-container .swiper-button-prev {
  right: unset;
  left: -55px;
}

@media (max-width: 1400px) {
  html[dir="ltr"] #banners .banners-swiper-container .swiper-button-prev {
    right: unset;
    left: -35px;
  }
}

html[dir="ltr"] #banners .banners-swiper-container .swiper-button-next {
  left: unset;
  right: -55px;
}

@media (max-width: 1400px) {
  html[dir="ltr"] #banners .banners-swiper-container .swiper-button-next {
    left: unset;
    right: -35px;
  }
}

html[dir="ltr"] #notes .note .note-body h3 {
  font-size: 14px;
}

html[dir="ltr"] #notes .note .note-body p {
  font-size: 14px;
}

html[dir="ltr"] footer .footer-top li:hover {
  transform: translateX(5px);
}

html[dir="ltr"] footer .footer-bottom .mail .form-group a {
  left: unset;
  right: 13px;
}

@keyframes vibe {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
  75% {
    transform: translateY(-4px);
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */